{{ define "base/header" }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Center</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class="alert alert-info alert-dismissible fade show mt-3" role="alert">
        <strong>Admin Center</strong>
        <a href="/sso/logout" class="float-right {{ if .login }} visible {{ else }} invisible {{ end }}">退出</a>
    </div>
{{ end }}